body {
    margin: 20px;
}

input {
    margin-right: 15px;
}

label {
    margin-right: 20px;
}

h3 {
    margin-right: 20px;
    margin-left: 10px;
}

.flex {
    display: flex;
    align-items: center;
}
